In [625]:
from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd
import urllib.request
import requests
import re
import json as JSON
import sqlite3
from sqlite3 import Error
import sys
import time

In [733]:
gameDate, startTime, attendance, stadium, gameDur = " " * 5
teams = { 'CHC': 'CHN',
            'CHW': 'CHA',
            'KCR': 'KCA',
            'LAA': 'ANA',
            'LAD': 'LAN',
            'NYM': 'NYN',
            'SDP': 'SDN',
            'SFG': 'SFN',
            'STL': 'SLN',
            'TBR': 'TBA'}

battingNames = {"ATL":"AtlantaBravesbatting",
                    "ARI":"ArizonaDiamondbacksbatting",
                    "BAL":"BaltimoreOriolesbatting",
                    "BOS":"BostonRedSoxbatting",
                    "CHN":"ChicagoCubsbatting",
                    "CHA":"ChicagoWhiteSoxbatting",
                    "CIN":"CincinnatiRedsbatting",
                    "CLE":"ClevelandGuardiansbatting",
                    "COL":"ColoradoRockiesbatting",
                    "DET":"DetroitTigersbatting",
                    "KCA":"KansasCityRoyalsbatting",
                    "HOU":"HoustonAstrosbatting",
                    "LAA":"LosAngelesAngelsbatting",
                    "ANA":"LosAngelesAngelsbatting",
                    "LAN":"LosAngelesDodgersbatting",
                    "MIA":"MiamiMarlinsbatting",
                    "MIL":"MilwaukeeBrewersbatting",
                    "MIN":"MinnesotaTwinsbatting",
                    "NYN":"NewYorkMetsbatting",
                    "NYY":"NewYorkYankeesbatting",
                    "NYA":"NewYorkYankeesbatting",
                    "OAK":"OaklandAthleticsbatting",
                    "PHI":"PhiladelphiaPhilliesbatting",
                    "PIT":"PittsburghPiratesbatting",
                    "SDN":"SanDiegoPadresbatting",
                    "SEA":"SeattleMarinersbatting",
                    "SFN":"SanFranciscoGiantsbatting",
                    "SLN":"StLouisCardinalsbatting",
                    "TBA":"TampaBayRaysbatting",
                    "TEX":"TexasRangersbatting",
                    "TOR":"TorontoBlueJaysbatting",
                    "WAS":"WashingtonNationalsbatting",
                    "WSN":"WashingtonNationalsbatting"}

pitchingNames = {"ATL":"AtlantaBravespitching",
                    "ARI":"ArizonaDiamondbackspitching",
                    "BAL":"BaltimoreOriolespitching",
                    "BOS":"BostonRedSoxpitching",
                    "CHN":"ChicagoCubspitching",
                    "CHA":"ChicagoWhiteSoxpitching",
                    "CIN":"CincinnatiRedspitching",
                    "CLE":"ClevelandGuardianspitching",
                    "COL":"ColoradoRockiespitching",
                    "DET":"DetroitTigerspitching",
                    "KCA":"KansasCityRoyalspitching",
                    "HOU":"HoustonAstrospitching",
                    "LAA":"LosAngelesAngelspitching",
                    "ANA":"LosAngelesAngelspitching",
                    "LAN":"LosAngelesDodgerspitching",
                    "MIA":"MiamiMarlinspitching",
                    "MIL":"MilwaukeeBrewerspitching",
                    "MIN":"MinnesotaTwinspitching",
                    "NYN":"NewYorkMetspitching",
                    "NYY":"NewYorkYankeespitching",
                    "NYA":"NewYorkYankeespitching",
                    "OAK":"OaklandAthleticspitching",
                    "PHI":"PhiladelphiaPhilliespitching",
                    "PIT":"PittsburghPiratespitching",
                    "SDN":"SanDiegoPadrespitching",
                    "SEA":"SeattleMarinerspitching",
                    "SFN":"SanFranciscoGiantspitching",
                    "SLN":"StLouisCardinalspitching",
                    "TBA":"TampaBayRayspitching",
                    "TEX":"TexasRangerspitching",
                    "TOR":"TorontoBlueJayspitching",
                    "WAS":"WashingtonNationalspitching",
                    "WSN":"WashingtonNationalspitching"}

In [832]:
def boxScoreScrape(team,date):
    bat_data = pd.DataFrame()
    pitch_data = pd.DataFrame()
    gameDate = date
    homeTeam=team
    if homeTeam in teams.keys():
        homeTeam = teams[homeTeam]
        
    url = 'https://www.baseball-reference.com/boxes/%s/%s%s0.shtml' % (homeTeam,homeTeam,gameDate)
    
    # hacky way to account for the doubleheader game i saw
    if gameDate == '20220802':
        url = 'https://www.baseball-reference.com/boxes/%s/%s%s2.shtml' % (homeTeam,homeTeam,gameDate)
    
    
    res = requests.get(url)    
    comm = re.compile("<!--|-->")
    soup = BeautifulSoup(comm.sub("", res.text), 'html.parser')

    
    scorebox = soup.find(attrs = {'class' : 'scorebox'})
    scores = scorebox.findAll(attrs = {'class' : 'score'})
    awayTeamScore = int(scores[0].getText())
    homeTeamScore = int(scores[1].getText())
    
    try: 
        teamLinks=scorebox.select("a[href*=teams]")
    except:
        print(hteam,gameDate)
        return (None,None)
        
    ateam = (teamLinks[0]['href'].split('/')[2])
    awayTeam=ateam
    if awayTeam in teams.keys():
        awayTeam = teams[awayTeam]

    #################
    # game info #
    #################
        
    gameMetadata = soup.find(attrs = {'class' : 'scorebox_meta'})
    gameMetadataList = gameMetadata.find_all('div')
    gDate = gameMetadataList[0].text
    startTime = gameMetadataList[1].text.split()[2] + ' ' + gameMetadataList[1].text.split()[3]
    attendance = gameMetadataList[2].text.split()[1]
    stadium = gameMetadataList[3].text.split()[1:]
    stadium = ' '.join(str(x) for x in stadium)
    gameDur = gameMetadataList[4].text.split()[2]

    gameInfoList = [gDate, team, homeTeamScore, awayTeamScore, ateam, startTime, attendance, stadium, gameDur]

    # Create the pandas DataFrame
    game_data = pd.DataFrame([gameInfoList],columns=['Date', 'Home', 'H', 'A', 'Away', 'Time', 'Attendance', 'Stadium', 'Duration'])
    game_data['Date'] = pd.to_datetime(game_data['Date'])
        
    #################
    # home batting #
    #################


    homeBattingTable = soup.find_all("table", {"id":"%s" % battingNames[homeTeam]})
    try:
        data_rows = homeBattingTable[0].findAll('tr')
    except:
        print(homeTeam, gameDate)
        return (None,None,None)
    data_header = homeBattingTable[0].findAll('thead')
    data_header = data_header[0].findAll("tr")
    data_header = data_header[0].findAll("th")
    homeBattingRows = [[td.getText() for td in data_rows[i].findAll(['th','td'])]
        for i in range(len(data_rows))
        ]
    homeBattingStats = pd.DataFrame(homeBattingRows)
    header = []
    for i in range(len(homeBattingStats.columns)):
        header.append(data_header[i].getText())
    homeBattingStats.columns = header
    homeBattingStats = homeBattingStats.loc[homeBattingStats[header[0]] != header[0]].reset_index(drop = True)
    homeBattingStats = homeBattingStats[homeBattingStats.PA != ''].reset_index(drop = True)
    
    # adding HR stats
    homeBattingStats.insert(4,'HR',0)
    for i in range (len(homeBattingStats)):
        # Sum HRs for Team Totals row
        if i == len(homeBattingStats)-1:
            homeBattingStats.at[i,'HR']=homeBattingStats['HR'].sum()
        else:
            for detail in homeBattingStats['Details'][i].split(','):
                if 'HR' in detail:
                    if len(detail.split('·')) > 1:
                        homeBattingStats.at[i,'HR']=int(detail.split('·')[0])
                    else:
                        homeBattingStats.at[i,'HR']=1
                    break
    
    homeBattingStats.insert(1,'Pos','N/A')

    for i in range (len(homeBattingStats)-1):
        words = homeBattingStats['Batting'][i].split()
        position = words[-1]
        name = ' '.join(str(x) for x in words[:-1])
    
        homeBattingStats.at[i, 'Pos'] = position
        homeBattingStats.at[i, 'Batting'] = name
        homeBattingStats.at[i,'Team'] = homeTeam
        homeBattingStats.at[i,'Opp'] = awayTeam
        homeBattingStats.at[i,'Date'] = gameDate
        homeBattingStats.at[i,'G'] = 1
        
    homeBattingStats.drop(columns=['BA','OBP','SLG','OPS','Pit','Str','WPA','WPA+','WPA-','cWPA','aLI','acLI','RE24','PO','A'],inplace=True)

    #################
    # away batting #
    #################

    awayBattingTable = soup.find_all("table", {"id":"%s" % battingNames[awayTeam]})
    try:
        data_rows = awayBattingTable[0].findAll('tr')
    except:
        print(homeTeam, awayTeam, gameDate)
        return (None,None,None)
    data_header = awayBattingTable[0].findAll('thead')
    data_header = data_header[0].findAll("tr")
    data_header = data_header[0].findAll("th")
    awayBattingRows = [[td.getText() for td in data_rows[i].findAll(['th','td'])]
        for i in range(len(data_rows))
        ]
    awayBattingStats = pd.DataFrame(awayBattingRows)
    header = []
    for i in range(len(awayBattingStats.columns)):
        header.append(data_header[i].getText())
    awayBattingStats.columns = header
    awayBattingStats = awayBattingStats.loc[awayBattingStats[header[0]] != header[0]].reset_index(drop = True)
    awayBattingStats = awayBattingStats[awayBattingStats.PA != ''].reset_index(drop = True)
    
    # adding HR stats
    awayBattingStats.insert(4,'HR',0)
    for i in range (len(awayBattingStats)):
        # Sum HRs for Team Totals row
        if i == len(awayBattingStats)-1:
            awayBattingStats.at[i,'HR']=awayBattingStats['HR'].sum()
        else:
            for detail in awayBattingStats['Details'][i].split(','):
                if 'HR' in detail:
                    if len(detail.split('·')) > 1:
                        awayBattingStats.at[i,'HR']=int(detail.split('·')[0])
                    else:
                        awayBattingStats.at[i,'HR']=1
                    break
        
    awayBattingStats.insert(1,'Pos','N/A')

    for i in range (len(awayBattingStats)-1):
        words = awayBattingStats['Batting'][i].split()
        position = words[-1]
        name = ' '.join(str(x) for x in words[:-1])
    
        awayBattingStats.at[i, 'Pos'] = position
        awayBattingStats.at[i, 'Batting'] = name
        awayBattingStats.at[i,'Team'] = awayTeam
        awayBattingStats.at[i,'Opp'] = homeTeam
        awayBattingStats.at[i,'Date'] = gameDate
        awayBattingStats.at[i,'G'] = 1
        
    awayBattingStats.drop(columns=['BA','OBP','SLG','OPS','Pit','Str','WPA','WPA+','WPA-','cWPA','aLI','acLI','RE24','PO','A'],inplace=True)

   
    #################
    # home pitching #
    #################

    homePitchingTable = soup.find_all("table", {"id":"%s" % pitchingNames[homeTeam]})
    data_rows = homePitchingTable[0].findAll('tr')
    data_header = homePitchingTable[0].findAll('thead')
    data_header = data_header[0].findAll("tr")
    data_header = data_header[0].findAll("th")
    homePitchingRows = [[td.getText() for td in data_rows[i].findAll(['th','td'])]
        for i in range(len(data_rows))
        ]
    homePitchingStats = pd.DataFrame(homePitchingRows)
    header = []
    for i in range(len(homePitchingStats.columns)):
        header.append(data_header[i].getText())
    homePitchingStats.columns = header
    homePitchingStats = homePitchingStats.loc[homePitchingStats[header[0]] != header[0]]
    homePitchingStats.drop(columns=['Ctct','StS','StL','GB','FB','LD','Unk','IR','IS','WPA','aLI','cWPA','acLI','RE24'],inplace=True)
    homePitchingStats = homePitchingStats.reset_index(drop = True)
    for i in range (len(homePitchingStats)):
        homePitchingStats.at[i, 'Pitching'] = homePitchingStats['Pitching'][i].split(',')[0]
        homePitchingStats.at[i,'Team'] = homeTeam
        homePitchingStats.at[i,'Opp'] = awayTeam
        homePitchingStats.at[i,'Date'] = gameDate
        homePitchingStats.at[i,'G'] = 1

    #################
    # away pitching #
    #################

    awayPitchingTable = soup.find_all("table", {"id":"%s" % pitchingNames[awayTeam]})
    data_rows = awayPitchingTable[0].findAll('tr')
    data_header = awayPitchingTable[0].findAll('thead')
    data_header = data_header[0].findAll("tr")
    data_header = data_header[0].findAll("th")
    awayPitchingRows = [[td.getText() for td in data_rows[i].findAll(['th','td'])]
        for i in range(len(data_rows))
        ]
    awayPitchingStats = pd.DataFrame(awayPitchingRows)
    header = []
    for i in range(len(awayPitchingStats.columns)):
        header.append(data_header[i].getText())
    awayPitchingStats.columns = header
    awayPitchingStats = awayPitchingStats.loc[awayPitchingStats[header[0]] != header[0]]
    awayPitchingStats.drop(columns=['Ctct','StS','StL','GB','FB','LD','Unk','IR','IS','WPA','aLI','cWPA','acLI','RE24'],inplace=True)
    awayPitchingStats = awayPitchingStats.reset_index(drop = True)
    for i in range (len(awayPitchingStats)):
        awayPitchingStats.at[i, 'Pitching'] = awayPitchingStats['Pitching'][i].split(',')[0]
        awayPitchingStats.at[i,'Team'] = awayTeam
        awayPitchingStats.at[i,'Opp'] = homeTeam
        awayPitchingStats.at[i,'Date'] = gameDate
        awayPitchingStats.at[i,'G'] = 1
        
        
    bat_data = pd.concat([bat_data,homeBattingStats], ignore_index=True)
    bat_data = pd.concat([bat_data,awayBattingStats], ignore_index=True)
    bat_data = bat_data[bat_data.Batting != 'Team Totals']
    bat_data['Date'] = pd.to_datetime(bat_data['Date'])
    
    pitch_data = pd.concat([pitch_data,homePitchingStats], ignore_index=True)
    pitch_data = pd.concat([pitch_data,awayPitchingStats], ignore_index=True)
    pitch_data = pitch_data[pitch_data.Pitching != 'Team Totals']
    pitch_data['Date'] = pd.to_datetime(pitch_data['Date'])
    
    
    return (bat_data, pitch_data, game_data)

In [834]:
games = [('PHI','20080823'),
         ('PHI','20100501'),
         ('PHI','20100706'),
         ('PHI','20100822'),
         ('BOS','20110722'),
         ('PHI','20110724'),
         ('CHC','20140506'),
         ('BOS','20140530'),
         ('COL','20170410'),
         ('LAD','20170416'),
         ('SFG','20180424'),
         ('OAK','20180505'),
         ('SFG','20180926'),
         ('OAK','20190328'),
         ('SFG','20190430'),
         ('OAK','20190906'),
         ('WAS','20210530'),
         ('NYA','20210808'),
         ('LAA','20220408'),
         ('SDP','20220524'),
         ('LAA','20220612'),
         ('SDP','20220626'),
         ('SDP','20220802'),
         ('SDP','20220821'),
         ('LAD','20220903'),
         ('SDP','20220907'),
         ('SDP','20220920'),
         ('SDP','20221001'),
         ('SDP','20230703'),
         ('SDP','20230704')]

In [835]:
def getAllStats(gameList):
    batting_data = pd.DataFrame()
    pitching_data = pd.DataFrame()
    game_data = pd.DataFrame()
    games = gameList
    
    i=1
    for game in games:
        homeTeam = game[0]
        date = game[1]
        gamebatting, gamepitching, gameinfo = boxScoreScrape(homeTeam,date)
        # space requests to stay out of SportsRef jail
        time.sleep(4)
        if not gamebatting.empty:
            batting_data = pd.concat([batting_data,gamebatting], ignore_index=True)
            pitching_data = pd.concat([pitching_data,gamepitching], ignore_index=True)
            game_data = pd.concat([game_data,gameinfo], ignore_index=True)
            print("logged game %i - %s %s" %(i,homeTeam, date))
        else:
            print("issue with %s %s" %(homeTeam, date))
        i+=1
    return (batting_data, pitching_data, game_data)

In [837]:
# scrape for box score info for all games in list
# only run when you want to backfill or add to df

#batting_data, pitching_data, game_data = getAllStats(games)

logged game 1 - PHI 20080823
logged game 2 - PHI 20100501
logged game 3 - PHI 20100706
logged game 4 - PHI 20100822
logged game 5 - BOS 20110722
logged game 6 - PHI 20110724
logged game 7 - CHC 20140506
logged game 8 - BOS 20140530
logged game 9 - COL 20170410
logged game 10 - LAD 20170416
logged game 11 - SFG 20180424
logged game 12 - OAK 20180505
logged game 13 - SFG 20180926
logged game 14 - OAK 20190328
logged game 15 - SFG 20190430
logged game 16 - OAK 20190906
logged game 17 - WAS 20210530
logged game 18 - NYA 20210808
logged game 19 - LAA 20220408
logged game 20 - SDP 20220524
logged game 21 - LAA 20220612
logged game 22 - SDP 20220626
logged game 23 - SDP 20220802
logged game 24 - SDP 20220821
logged game 25 - LAD 20220903
logged game 26 - SDP 20220907
logged game 27 - SDP 20220920
logged game 28 - SDP 20221001
logged game 29 - SDP 20230703
logged game 30 - SDP 20230704

In [838]:
# DO NOT TOUCH
game_data
# DO NOT TOUCH

,Date,Home,H,A,Away,Time,Attendance,Stadium,Duration
0,2008-08-23,PHI,9,2,LAD,3:57 p.m.,"45,019",Citizens Bank Park,2:41
1,2010-05-01,PHI,10,0,NYM,3:10 p.m.,"45,264",Citizens Bank Park,2:27
2,2010-07-06,PHI,3,6,ATL,7:07 p.m.,"44,715",Citizens Bank Park,3:31
3,2010-08-22,PHI,6,0,WSN,1:37 p.m.,"44,539",Citizens Bank Park,2:55
4,2011-07-22,BOS,7,4,SEA,7:12 p.m.,"38,048",Fenway Park,2:53
5,2011-07-24,PHI,5,3,SDP,1:37 p.m.,"45,241",Citizens Bank Park,2:31
6,2014-05-06,CHC,1,5,CHW,7:07 p.m.,"34,305",Wrigley Field,3:30
7,2014-05-30,BOS,3,2,TBR,7:11 p.m.,"35,820",Fenway Park,3:55
8,2017-04-10,COL,3,5,SDP,6:42 p.m.,"20,504",Coors Field,2:53
9,2017-04-16,LAD,1,3,ARI,1:11 p.m.,"39,822",Dodger Stadium,3:22
10,2018-04-24,SFG,4,3,WSN,7:15 p.m.,"37,147",AT&T Park,2:27
11,2018-05-05,OAK,2,0,BAL,6:07 p.m.,"24,612",Oakland-Alameda County Coliseum,3:32
12,2018-09-26,SFG,2,3,SDP,7:15 p.m.,"36,044",AT&T Park,2:57
13,2019-03-28,OAK,4,0,LAA,1:10 p.m.,"22,691",Oakland-Alameda County Coliseum,2:18
14,2019-04-30,SFG,3,10,LAD,6:46 p.m.,"32,017",Oracle Park,2:45
15,2019-09-06,OAK,4,5,DET,7:07 p.m.,"16,080",Oakland-Alameda County Coliseum,3:44
16,2021-05-30,WAS,0,3,MIL,1:05 p.m.,"15,326",Nationals Park,3:01
17,2021-08-08,NYA,0,2,SEA,1:05 p.m.,"35,437",Yankee Stadium III,3:48
18,2022-04-08,LAA,6,13,HOU,6:38 p.m.,"42,719",Angel Stadium of Anaheim,3:44
19,2022-05-24,SDP,1,4,MIL,6:40 p.m.,"39,834",Petco Park,3:14
20,2022-06-12,LAA,1,4,NYM,4:08 p.m.,"36,598",Angel Stadium of Anaheim,3:11
21,2022-06-26,SDP,5,8,PHI,1:10 p.m.,"41,620",Petco Park,3:19
22,2022-08-02,SDP,3,2,COL,7:10 p.m.,"30,759",Petco Park,3:10
23,2022-08-21,SDP,2,1,WSN,1:10 p.m.,"37,040",Petco Park,2:30
24,2022-09-03,LAD,12,1,SDP,6:10 p.m.,"46,144",Dodger Stadium,2:42
25,2022-09-07,SDP,6,3,ARI,5:40 p.m.,"36,948",Petco Park,3:03
26,2022-09-20,SDP,5,0,STL,6:40 p.m.,"39,538",Petco Park,2:56
27,2022-10-01,SDP,5,2,CHW,5:40 p.m.,"38,114",Petco Park,3:07
28,2023-07-03,SDP,10,3,LAA,6:40 p.m.,"45,101",Petco Park,3:15
29,2023-07-04,SDP,8,5,LAA,3:40 p.m.,"44,725",Petco Park,3:02

In [839]:
# DO NOT TOUCH
batting_data
# DO NOT TOUCH

,Batting,Pos,AB,R,H,HR,RBI,BB,SO,PA,Details,Team,Opp,Date,G
0,Jimmy Rollins,SS,4,2,1,0,0,0,0,5,HBP,PHI,LAN,2008-08-23,1.0
1,Chase Utley,2B,3,3,2,0,0,2,0,5,,PHI,LAN,2008-08-23,1.0
2,Pat Burrell,LF,5,3,3,1,5,0,1,5,"HR,2B",PHI,LAN,2008-08-23,1.0
3,Rudy Seanez,P,0,0,0,0,0,0,0,0,,PHI,LAN,2008-08-23,1.0
4,Ryan Howard,1B,4,0,1,0,2,1,2,5,2B,PHI,LAN,2008-08-23,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Hunter Renfroe,RF,3,2,1,1,1,1,1,4,HR,ANA,SDN,2023-07-04,1.0
720,Luis Rengifo,2B,3,0,1,0,0,1,1,4,,ANA,SDN,2023-07-04,1.0
721,Chad Wallach,C,3,0,0,0,1,1,3,4,,ANA,SDN,2023-07-04,1.0
722,Andrew Velazquez,SS,3,0,1,0,0,0,1,3,,ANA,SDN,2023-07-04,1.0
723,David Fletcher,PH,1,0,0,0,0,0,1,1,,ANA,SDN,2023-07-04,1.0

In [840]:
# DO NOT TOUCH
pitching_data
# DO NOT TOUCH

,Pitching,IP,H,R,ER,BB,SO,HR,ERA,BF,Pit,Str,GSc,Team,Opp,Date,G
0,Cole Hamels,7,5,2,2,0,5,1,3.20,26,97,71,64,PHI,LAN,2008-08-23,1.0
1,Scott Eyre,1,0,0,0,0,2,0,5.28,4,15,11,,PHI,LAN,2008-08-23,1.0
2,Rudy Seanez,1,0,0,0,0,0,0,3.48,3,4,3,,PHI,LAN,2008-08-23,1.0
3,Clayton Kershaw,4,7,6,6,2,5,1,4.11,22,91,52,27,LAN,PHI,2008-08-23,1.0
4,Jason Johnson,1.1,2,3,3,1,1,0,3.96,8,28,17,,LAN,PHI,2008-08-23,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,Josh Hader,0.2,0,0,0,2,1,0,1.15,4,23,12,,SDN,ANA,2023-07-04,1.0
249,Shohei Ohtani,5,7,5,5,4,5,2,3.32,24,85,56,34,ANA,SDN,2023-07-04,1.0
250,Aaron Loup,1,0,0,0,0,1,0,4.18,3,11,7,,ANA,SDN,2023-07-04,1.0
251,Gerardo Reyes,1,2,2,2,1,0,0,13.50,7,26,16,,ANA,SDN,2023-07-04,1.0
252,Chris Devenski,1,2,1,1,0,1,0,3.48,5,18,13,,ANA,SDN,2023-07-04,1.0

In [850]:
# cleaning

batting = batting_data.copy()
pitching = pitching_data.copy()

batting = batting.astype({'AB': 'int',
                          'R': 'int',
                          'H': 'int',
                          'HR': 'int',
                          'RBI': 'int',
                          'BB': 'int',
                          'SO': 'int',
                          'PA': 'int',
                          'G':'int'})

pitching = pitching.mask(pitching == '')
pitching['GSc'] = pitching['GSc'].fillna(0)

pitching = pitching.astype({'IP': 'float',
                            'H': 'int',
                            'R': 'int',
                            'ER': 'int', 
                            'BB': 'int',
                            'SO': 'int',
                            'HR': 'int',
                            'ERA': 'float',
                            'BF':'int',
                            'Pit':'int',
                            'Str':'int',
                            'GSc':'int',
                            'G':'int'})

In [851]:
batting

,Batting,Pos,AB,R,H,HR,RBI,BB,SO,PA,Details,Team,Opp,Date,G
0,Jimmy Rollins,SS,4,2,1,0,0,0,0,5,HBP,PHI,LAN,2008-08-23,1
1,Chase Utley,2B,3,3,2,0,0,2,0,5,,PHI,LAN,2008-08-23,1
2,Pat Burrell,LF,5,3,3,1,5,0,1,5,"HR,2B",PHI,LAN,2008-08-23,1
3,Rudy Seanez,P,0,0,0,0,0,0,0,0,,PHI,LAN,2008-08-23,1
4,Ryan Howard,1B,4,0,1,0,2,1,2,5,2B,PHI,LAN,2008-08-23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Hunter Renfroe,RF,3,2,1,1,1,1,1,4,HR,ANA,SDN,2023-07-04,1
720,Luis Rengifo,2B,3,0,1,0,0,1,1,4,,ANA,SDN,2023-07-04,1
721,Chad Wallach,C,3,0,0,0,1,1,3,4,,ANA,SDN,2023-07-04,1
722,Andrew Velazquez,SS,3,0,1,0,0,0,1,3,,ANA,SDN,2023-07-04,1
723,David Fletcher,PH,1,0,0,0,0,0,1,1,,ANA,SDN,2023-07-04,1

In [852]:
pitching

,Pitching,IP,H,R,ER,BB,SO,HR,ERA,BF,Pit,Str,GSc,Team,Opp,Date,G
0,Cole Hamels,7.0,5,2,2,0,5,1,3.20,26,97,71,64,PHI,LAN,2008-08-23,1
1,Scott Eyre,1.0,0,0,0,0,2,0,5.28,4,15,11,0,PHI,LAN,2008-08-23,1
2,Rudy Seanez,1.0,0,0,0,0,0,0,3.48,3,4,3,0,PHI,LAN,2008-08-23,1
3,Clayton Kershaw,4.0,7,6,6,2,5,1,4.11,22,91,52,27,LAN,PHI,2008-08-23,1
4,Jason Johnson,1.1,2,3,3,1,1,0,3.96,8,28,17,0,LAN,PHI,2008-08-23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,Josh Hader,0.2,0,0,0,2,1,0,1.15,4,23,12,0,SDN,ANA,2023-07-04,1
249,Shohei Ohtani,5.0,7,5,5,4,5,2,3.32,24,85,56,34,ANA,SDN,2023-07-04,1
250,Aaron Loup,1.0,0,0,0,0,1,0,4.18,3,11,7,0,ANA,SDN,2023-07-04,1
251,Gerardo Reyes,1.0,2,2,2,1,0,0,13.50,7,26,16,0,ANA,SDN,2023-07-04,1
252,Chris Devenski,1.0,2,1,1,0,1,0,3.48,5,18,13,0,ANA,SDN,2023-07-04,1

In [853]:
# Aggregated stats for unique batters and pitchers

#can add Team to groupby for breakdown
hitters = batting.groupby(["Batting"]).sum(numeric_only=True).reset_index()
hitters.insert(4,'AVG','N/A')
for i in range(len(hitters)):
    if hitters.at[i,'H'] > 0:
        hitters.at[i,'AVG'] = round(hitters.at[i,'H'] / hitters.at[i,'AB'],3)
    else:
        hitters.at[i,'AVG'] = .000
    
hitters = hitters[hitters['PA']>0]


# can add Team to groupby for breakdown
tossers = pitching.groupby(["Pitching"]).sum(numeric_only=True).reset_index()

In [854]:
hitters

             Batting  AB  R  H    AVG  HR  RBI  BB  SO  PA  G
0         A.J. Ellis   1  0  0    0.0   0    0   0   0   1  1
1    A.J. Pierzynski   5  0  2    0.4   0    1   0   0   5  1
2         AJ Pollock   6  2  0    0.0   0    0   2   1   8  2
3        Aaron Judge   4  0  0    0.0   0    0   1   3   5  1
4    Abiatal Avelino   3  0  2  0.667   0    0   0   0   3  1
..               ...  .. .. ..    ...  ..  ...  ..  ..  .. ..
490    Yasmany Tomás   4  0  2    0.5   0    0   0   2   4  1
492     Yoan Moncada   4  0  0    0.0   0    0   0   3   4  1
493   Yordan Alvarez   4  1  1   0.25   0    1   1   0   5  1
494    Yunel Escobar   9  2  3  0.333   0    0   0   1   9  2
496      Zack Cozart   4  0  0    0.0   0    0   0   1   4  1

[417 rows x 11 columns]

In [855]:
tossers

            Pitching    IP   H  R  ER  BB  SO  HR   ERA  BF  Pit  Str  GSc  G
0         Aaron Loup   1.2   0  1   1   1   1   0  8.75   6   22   11    0  2
1    Adam Wainwright   6.0   6  4   4   2   1   1  3.38  25  107   68   43  1
2     Adrián Morejón   1.0   0  0   0   0   2   0  6.10   3   21   13    0  1
3       Albert Abreu   1.0   0  0   0   2   2   0  4.66   5   23   11    0  1
4        Alex Colome   0.1   1  1   1   0   1   1  3.40   2   13    7    0  1
..               ...   ...  .. ..  ..  ..  ..  ..   ...  ..  ...  ...  ... ..
205      Yimi Garcia   2.0   0  0   0   0   1   0  4.91   6   27   19    0  1
206       Yu Darvish  12.0  12  6   6   4  15   3  6.57  50  197  124  107  2
207    Yusei Kikuchi   5.0   4  0   0   3   6   0  3.73  23   97   57   62  1
208   Yusmeiro Petit   2.0   1  0   0   3   4   0  4.00  10   42   27    0  1
209      Zach Putnam   2.0   0  0   0   0   2   0  1.35   6   29   19    0  1

[210 rows x 14 columns]

In [856]:
# some general accumulated stats
def genstats(gamelist,hitlist,pitchlist):
    games = gamelist
    hitters = hitlist
    tossers = pitchlist
    
    numGames = len(games)

    uniqueBatters = len(hitters)
    uniquePitchers = len(tossers)

    hits = hitters['H'].sum()
    if hits != tossers['H'].sum():
        print('hit count off')

    atbats = hitters['AB'].sum()

    avg = round(hits/atbats,3)

    runs = hitters['R'].sum()
    if runs != tossers['R'].sum():
        print('run count off')

    homeruns = hitters['HR'].sum()
    if homeruns != tossers['HR'].sum():
        print('homerun count off')

    strikeouts = hitters['SO'].sum()
    if strikeouts != tossers['SO'].sum():
        print('strikeout count off')

    walks = hitters['BB'].sum()
    if walks != tossers['BB'].sum():
        print('walk count off')

    pitches = tossers['Pit'].sum()
    strikes = tossers['Str'].sum()

    print("%i Games" % numGames)
    print("%i Unique Batters" % uniqueBatters)
    print("%i Unique Batters" % uniquePitchers)
    print("%i Hits" % hits)
    print("%i ABs" % atbats)
    print("%s Batting Average" % str(avg))
    print("%i Runs" % runs)
    print("%i HRs" % homeruns)
    print("%i Ks" % strikeouts)
    print("%i BBs" % walks)
    print("%i Pitches" % pitches)
    print("%i Strikes" % strikes)

In [857]:
genstats(games,hitters,tossers)

30 Games
417 Unique Batters
210 Unique Batters
467 Hits
2007 ABs
0.233 Batting Average
233 Runs
64 HRs
512 Ks
177 BBs
8782 Pitches
5635 Strikes

---
---

# Summary of Data Sets
- **batting**: Each batter's stats from individual games
- **hitters**: Aggregated stats for each unique batter
- **pitching**: Each pitcher's stats from individual games
- **tossers**: Aggregated stats for each unique pitcher

In [858]:
# Examples and stuff

# some lists of players i care about
dads = ['Manny Machado', 'Fernando Tatis', 'Juan Soto', 'Xander Bogaerts']
phils = ['Chase Utley','Jimmy Rollins','Ryan Howard','Shane Victorino']

# see individual game lines for batters i care about
#batting[batting['Batting'].isin(dads+phils)].sort_values('Batting')

# see accumulated lines for batters i care about
hitters[hitters['Batting'].isin(dads+phils)].sort_values('PA',ascending=False)

# hitters ive seen multiple times
#hitters[hitters['G']>2].sort_values('PA',ascending=False)

# pitchers ive seen multiple times
#tossers[tossers['G']>1].sort_values('G',ascending=False)
#tossers[tossers['G']>1].sort_values('IP',ascending=False)

# best single game pitching performances using GSc
#pitching[pitching['GSc']>70].sort_values('GSc',ascending=False)

# see lines from each game for pitchers from a specific team
#p = pitching[pitching['Team']=='SDN']
# can adjust IP to get to starters
#p = p[p['IP']>2]
#p.sort_values('Pitching')

# each time a batter hit a HR
#homers = batting[batting.HR > 0].reset_index().sort_values('HR',ascending=False)
#homers

# most homers by a team in one game
#homers.groupby(['Date','Team'])[['HR']].sum().sort_values('HR',ascending=False).reset_index()

# most hits by a team in one game
#batting.groupby(['Date','Team'])[['H']].sum().sort_values('H',ascending=False).reset_index()

             Batting  AB  R   H    AVG  HR  RBI  BB  SO  PA   G
318    Manny Machado  37  8  14  0.378   2    5   4   8  41  10
277        Juan Soto  25  6   4   0.16   1    3   5   8  31   8
432  Shane Victorino  19  2   7  0.368   1    6   1   3  22   5
414      Ryan Howard  20  3   6    0.3   0    3   1   6  21   5
236    Jimmy Rollins  18  5   3  0.167   0    0   1   1  20   4
95       Chase Utley  14  7   5  0.357   0    0   3   1  17   4
482  Xander Bogaerts  11  5   8  0.727   2    7   2   1  13   3